.author__avatar img {
  transform: scale(1.5); // Boyutu 1.5 kat artırır
  transform-origin: left top; // Büyümeyi sola hizalı yapar
  border-radius: 50%;
  border: 5px solid #006400;

  @include breakpoint($large) {
    padding: 5px;
    border: 5px solid #006400;
  }
}
