.author__avatar img {
  width: 200%; // Resmi 2 kat büyütür
  max-width: none;
  border-radius: 50%; // Daire yapar
  border: 5px solid #006400; // Koyu yeşil çerçeve

  @include breakpoint($large) {
    padding: 5px;
    border: 5px solid #006400;
  }
}
